#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.app-grid__item {
  width: 23rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.grid-item__title {
  text-align: left;
  border-bottom: 1px dotted var(--foreground);
  padding: .5rem 0;
  margin-bottom: 1.5rem;
}

.app-grid__item--separator:not(:first-child) {
  margin-top: 4rem;
}

.app-grid__item--separator .grid-item__title {
  border-bottom: none;
}

button {
  cursor: pointer;
}
